
$color_one: #263136;
$color_two: #4d7080;
$color_three: #a2a2a2;
$color_four: #dbdbdb;
$color_five: #c93614;
$header_height: 100px;

 body {
  margin: 0px;
  font-family:Arial, Verdana;
}

.menu {
    margin-top:60px;
    ul {
        margin: 0px;
        padding: 0px;
    }
    li {
        padding: 0px;
        margin: 0px 18px 0px 0px;
        list-style: none;
        float: left;
        a {
            color: $color_one;
            text-decoration:none;
            font-size:1.2em;
        }
        a:hover {
            text-decoration:underline;
        }
    }
    li.last {
        margin-right: 0px;
    }
    li.selected > a {
      font-weight: bold;
    }
}

#header_top {
    background-color: $color_one;
    height:5px;
}
#header_row {
    background-color: $color_two;
    height:$header_height;
        #title_container {
            background-color: $color_one;
            text-align:center;
            height:$header_height - 10;
            h1 {
                margin-top:20px;
                a {
                    text-decoration:none;
                    font-family:Arial;
                    letter-spacing:1px;
                }
                a:visited{
                    text-decoration:none;
                    color:$color_four;
                }
            }
        }
}

#header_bottom{
    background-color: $color_two;
    height:10px;
}
#header_shadow {
    background-color:$color_three;
    height:3px;
}

.main_content {
    background-color:$color_four;
    min-height:450px;
    height:auto !important;
    /*height:500px;*/
    padding-top:20px;
    padding-bottom:70px;
}

#footer_container {
    height:70px;
    background-color:$color_three;
    position:fixed;
    bottom:0;
    display:block;
    z-index:999;
    /*position:absolute;*/
    /*bottom:0;*/
    width:100%;
}
#footer_top {
    background-color:$color_one;
    height:2px;
}
#footer_row {
    background-color:$color_three;
    /*height: auto !important;*/
	/*margin: 0 auto -70px;*/
}

/* Blog stuff */
.blog_post header {
    border-bottom:1px solid $color_one;
    h1 a {
    color:$color_one;
    font-size:1.4em;
    text-decoration:none;
    }
}
.blog_post header .details {
    float:right;
    font-style:italic;
}
#blog_post header {
    border-bottom:1px solid $color_one;
}
#blog_post header .details {
    float:right;
    font-style:italic;
}
#blog_post p{
    margin:15px 0px 15px 0px;
}
.blog_post section p{
    margin:15px 0px 15px 0px;
}

.blog_comment_message {
    border-bottom:1px solid $color_three;
    margin-bottom:10px;
}

.post_categories .filed_in {
  display: inline;
}
.post_categories ul {
  margin: 0px 0px 0px 6px;
  padding: 0px;
  display: inline;
}
.post_categories ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}

.comment_label {
    width:120px;
    float:left;
}
.comment_field{
    /*float:right;*/
}

.field.message_field label {
  vertical-align: top;
}
#rss_feed_subscribe {
  display: block;
  padding-left: 25px;
  color: black;
  background: url('/images/refinerycms-blog/rss-feed.png') no-repeat;
}
#next_prev_article{
  overflow:hidden;
  margin:10px 0;
  position:relative;
  height:30px;
}
#next_prev_article a{
  display:block;
  width:33%;
  height:30px;
  line-height:30px;
  position:absolute;
  top:0;
}
#next_prev_article a.prev{
  left:0;
}
#next_prev_article a.home{
  left:33%;
  text-align:center;
}
#next_prev_article a.next{
  text-align:right;
  right:0;
}

#message, .flash {
  padding: 8px 8px 8px 30px;
  margin-bottom: 15px;
  position: relative;
}
.flash_notice, .flash_message {
  border: 1px solid #00A017;
  color: #00A017;
  background: 7px 7px no-repeat url('/images/refinery/icons/accept.png') #E0F5E0;
}
.flash_notice, .flash_notice * {
  color: #00A017;
}
.flash_error {
  border: 1px solid #A00027;
  color: #A00027;
  background: 7px 7px no-repeat url('/images/refinery/icons/cancel.png') #FFB1B1;
}
.flash.flash_notice #flash_close, .flash.flash_error #flash_close {
  text-transform: lowercase;
}
.flash.flash_message {
  background: #E0F5E0;
  padding: 9px;
  position: relative;
  margin-bottom: 32px;
}
.flash.flash_message h2 {
  margin-top: 12px;
}
.flash_message, .flash_message * {
  color: #262719;
  font-size: 14px;
}
.flash a, .flash a:hover {
  color: #e20003;
  border-bottom-color: #e20003;
}
.flash.flash_error a, .flash.flash_error a:hover {
  display: none;
} /* FLASH MESSAGES */

.avatar{
    width:30px;
    height:30px;
}



