
<div class="vertical_contact_tab">contact us</div>

<div class="container main_content">
  <div class="row">
    <div class="twelvecol last">
        <%= render :partial => "/shared/content_page" %>
    </div>
  </div>
</div>



