
<div class="container main_content">
  <div class="row">
    <div class="twelvecol last">

<section id='body_content'>
  <%=raw @page.content_for(:body) %>
</section>
        </div>
      </div>
    </div>
